page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #f8f8f8;
}

.options-item {
	padding: 0 20px;
	height: 66px;
	background-color: #FFFFFF;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.face {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	align-self: center;
}

.item-words {
	color: #333333;
	align-self: center;
	font-size: 16px;
}

.right-part {
	align-self: center;
	
	display: flex;
	flex-direction: row;
}

.right-arrow {
	width: 12px;
	height: 12px;
	align-self: center;
	margin-left: 6px;
}

.logout-words {
	color: #31B9B3;
	font-size: 18px;
	font-weight: bold;
}