page {
	background-color: #FFFFFF;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


.card-box {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.title-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.title-one {
	font-size: 24px;
}

.title-two {
	font-size: 14px;
	margin-top: 6px;
	
	color: #abb1aa;
}

.textarea {
	font-size: 18px;
	background-color: #FFFFFF;
	color: #191919;
	font-weight: 400;
	width: 98%;
	height: 200px;
}

.placeholder {
	color: #b5bdbd;
	font-weight: 300;
}
