.page {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ffffff;
}
.bg-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bg-size {
	width: 750rpx;
	height: 750rpx;
}
.button-change-bg {
	background-color: #31B9B3;
}
